extends base.jade
append scripts
	script(src='../javascripts/contact.js')
	//---------------------------------------------------------------------------//
	// Rethink JS Files
	script(src='../javascripts/reThinkCall/loadRuntime.js')
	script(src="/javascripts/reThinkCall/WebRTCHypertyClient.js")
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js')
append body
	// The fixed navigation bar
	include navbar.jade
	script.
		(function() {
			$('#home').addClass("active");
		})();
	.container
		.row 
			.col-sm-4
				- var Guid = user.local.guid;
				h3= 'Welcome '+user.local.email
				div(id='qrcode') 
				script.
					if ('#{user.local.guid}' != '') 
					{
						$('#qrcode').qrcode({width: 64,height: 64,text: '#{user.local.guid}'});
						document.write('#{user.local.guid}');
					}
					if ('#{user.local.guid}' == '') {document.write("Hey Guy! Seems that you don't yet prublish your profile on the Global Registry. Please go to <a href='home/profile'>your profile<a>");}
			.col-sm-6.col-sm-offset-1#addUser
				h3.form-signin-heading Add Contact
				form.form-signin
						label.sr-only(for='inputFirstName') First Name
						input#inputFirstName.form-control(type='text', placeholder='Contact Name', required='true')
						label.sr-only(for='inputLastName') Last Name
						input#inputLastName.form-control(type='text', placeholder='Last Name', required='true')
						label.sr-only(for='inputInfo') Information
						input#inputInfo.form-control(type='text', placeholder='Contact Information', autofocus='')
						label.sr-only(for='inputGuid') Guid
						input#inputGuid.form-control(type='text', placeholder='Guid', required='true', autofocus='')
						input.btn.btn-lg.btn-primary.btn-block.addContact(type='submit', value='Add Contact')
		.row 
			.col-sm-12
				h2 Contacts List
				#userList
					table(class="table table-striped")
						thead
							tr
								th Contact
								th GUID
								th Contact Info
								th Delete?
								th Uids
						tbody
	include call.jade
