extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Bootstrap theme
	+bootswatch("cerulean")
	// Custom styles for this template
	link(href='../css/theme.css', rel='stylesheet')
	// Custom styles for this template
	link(href='../css/navbar-fixed-top.css', rel='stylesheet')
	link(href='../css/style.css', rel='stylesheet')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src='../javascripts/profile.js')
append body
	// The fixed navigation bar
	include navbar.jade
	script.
		$('#profile').addClass("active");
	br
	br
	.col-sm-6
		.well
			h3
				span Local
			p 
				strong id: 
				span!= user._id
				br
				strong Email:   
				span!= user.local.email
				br
				strong Password: 
				span!= user.local.password
				br
				br
				if user.local.guid!=""
					strong Guid: 
					span(id="spanGUID")!= user.local.guid
					br
					strong Private Key: 
					span!= user.local.privateKey
					//form
					//	button(type="submit" class="btnunpublish btn btn-warning") Remove from Global Registry
				else
					form
						button(type="submit" class="btnpublish btn btn-warning") Publish in Global Registry
						//div.hide
							input#GUIDCheck.disabled(type='checkbox') 
							label &nbsp;I already have a GUID
							div.form-group(id="divInputGUID")
								input#userGUID.form-control(type='text',name="inputGUID", placeholder='xxxxx', required='true')
								input#inputPrKey.form-control(type='text',name="inputPrKey", placeholder='xxxxx', required='true')
				
	.col-sm-6
		.well
			h3
				span UserIds
			p
				#uidsList
						table(class="table table-striped")
							thead
								tr
									th uid
									th domain
							tbody
	include addDomain.jade
//			a(href='/users/addDomain' class="btn btn-xs btn-info") Add Domain
